@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  background: #e84393;
}

.heading h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}

.heading p {
  color: #fff;
  padding-top: .7rem;
  font-size: 1.7rem;
}

.heading p a {
  color: #fff;
}

.heading p a:hover {
  color: #333;
}

.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  font-size: 1.7rem;
  color: #333;
  border: 0.2rem solid #333;
  background: none;
  cursor: pointer;
  border-radius: .5rem;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 9%;
}

.header .logo {
  font-size: 2.5rem;
  color: #333;
  font-weight: bolder;
  margin-right: auto;
}

.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: left;
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  font-size: 1.7rem;
  color: #666;
  padding: 2rem;
  display: block;
}

.header .navbar ul li a:hover {
  background: #eee;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: #fff;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

.header .icons div,
.header .icons a {
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  margin-left: 2rem;
}

.header .icons div:hover,
.header .icons a:hover {
  color: #e84393;
}

.header .search-form {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  border-top: 0.2rem solid #333;
  background: #fff;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .search-form input {
  width: 100%;
  height: 100%;
  padding-right: 1rem;
  font-size: 1.7rem;
  color: #666;
  text-transform: none;
}

.header .search-form label {
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
}

.header .search-form label:hover {
  color: #e84393;
}

#menu-btn {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

.home {
  padding: 0;
  position: relative;
}

.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
  padding: 2rem 7%;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.home .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slide .content span {
  color: #333;
  display: block;
  font-size: 2rem;
  -webkit-animation: fadeIn .4s linear .2s backwards;
          animation: fadeIn .4s linear .2s backwards;
}

.home .slide .content h3 {
  color: #333;
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 6rem;
  -webkit-animation: fadeIn .4s linear .4s backwards;
          animation: fadeIn .4s linear .4s backwards;
}

.home .slide .content .btn {
  -webkit-animation: fadeIn .4s linear .6s backwards;
          animation: fadeIn .4s linear .6s backwards;
}

.home #next-slide,
.home #prev-slide {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
  line-height: 5.5rem;
  font-size: 4rem;
  color: #333;
  border: 0.2rem solid #333;
  background: #fff;
  border-radius: .5rem;
  cursor: pointer;
  text-align: center;
}

.home #next-slide:hover,
.home #prev-slide:hover {
  background: #333;
  color: #fff;
}

.home #prev-slide {
  right: 9rem;
}

.banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.banner .box {
  position: relative;
  height: 30rem;
  overflow: hidden;
  border-radius: .5rem;
}

.banner .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .box .content {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .box .content span {
  font-size: 1.5rem;
  color: #333;
}

.banner .box .content h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

.banner .box .content .btn {
  padding: .6rem 2rem;
  font-size: 1.5rem;
}

.products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  border-radius: .5rem;
  text-align: center;
  border: 0.2rem solid #333;
}

.products .box-container .box:hover .image .icons {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.products .box-container .box .image {
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  height: 25rem;
  width: 100%;
}

.products .box-container .box .image .icons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.2rem solid #333;
  -webkit-transform: translateY(-7rem);
          transform: translateY(-7rem);
}

.products .box-container .box .image .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #333;
}

.products .box-container .box .image .icons a:hover {
  background: #333;
  color: #fff;
}

.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .box-container .box .content {
  padding: 1.5rem 0;
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.products .box-container .box .content .stars {
  padding: 1rem 0;
}

.products .box-container .box .content .stars i {
  font-size: 1.4rem;
  color: #e84393;
}

.products .box-container .box .content .price {
  font-size: 2.2rem;
  color: #333;
}

.products .box-container .box .content .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #666;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .row .image img {
  width: 100%;
  border-radius: .5rem;
}

.about .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: #333;
  line-height: 2;
}

.about .row .content p {
  font-size: 1.4rem;
  line-height: 2.5;
  color: #666;
  padding: 1rem 0;
}

.about .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.about .icons-container .icons {
  padding: 3rem 2rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  text-align: center;
  cursor: pointer;
}

.about .icons-container .icons:hover {
  background: #333;
}

.about .icons-container .icons:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.about .icons-container .icons:hover h3 {
  color: #fff;
}

.about .icons-container .icons img {
  height: 7rem;
  margin-bottom: 1rem;
}

.about .icons-container .icons h3 {
  font-size: 1.7rem;
  color: #333;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border-radius: .5rem;
  overflow: hidden;
  border: 0.2rem solid #333;
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box-container .box .image {
  width: 100%;
  height: 25rem;
  overflow: hidden;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
  line-height: 2;
}

.blogs .box-container .box .content p {
  font-size: 1.4rem;
  line-height: 2.5;
  color: #666;
  padding: 1rem 0;
}

.blogs .box-container .box .content .icons {
  border-top: 0.2rem solid #333;
  padding-top: 2rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs .box-container .box .content .icons a {
  font-size: 1.4rem;
  color: #666;
}

.blogs .box-container .box .content .icons a:hover {
  color: #e84393;
}

.blogs .box-container .box .content .icons a i {
  padding-right: .5rem;
  color: #e84393;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 2rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
}

.contact .row form .box, .contact .row form textarea {
  width: 100%;
  border-bottom: 0.2rem solid #333;
  margin-bottom: 1rem;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  border-radius: .5rem;
  width: 100%;
}

.login-form form,
.register-form form {
  margin: 1rem auto;
  max-width: 40rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  padding: 2rem;
  text-align: center;
}

.login-form form h3,
.register-form form h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #333;
  margin-bottom: .7rem;
}

.login-form form .inputBox,
.register-form form .inputBox {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .5rem;
  background: #eee;
  padding: .5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.login-form form .inputBox span,
.register-form form .inputBox span {
  color: #666;
  margin-left: 1rem;
  font-size: 2rem;
}

.login-form form .inputBox input,
.register-form form .inputBox input {
  width: 100%;
  padding: 1rem;
  background: none;
  font-size: 1.5rem;
  color: #666;
  text-transform: none;
}

.login-form form .flex,
.register-form form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding: 1rem 0;
  margin-top: 1rem;
}

.login-form form .flex label,
.register-form form .flex label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.login-form form .flex a,
.register-form form .flex a {
  font-size: 1.5rem;
  color: #666;
  margin-left: auto;
}

.login-form form .flex a:hover,
.register-form form .flex a:hover {
  color: #e84393;
}

.login-form form input[type="submit"],
.register-form form input[type="submit"] {
  background: #333;
  color: #fff;
}

.login-form form input[type="submit"]:hover,
.register-form form input[type="submit"]:hover {
  background: #e84393;
}

.login-form form .btn,
.register-form form .btn {
  width: 100%;
}

.shopping-cart .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.shopping-cart .box-container .box {
  border-radius: .5rem;
  border: 0.2rem solid #333;
  padding: 3rem 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.shopping-cart .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #666;
}

.shopping-cart .box-container .box .fa-times:hover {
  color: #e84393;
}

.shopping-cart .box-container .box img {
  height: 10rem;
}

.shopping-cart .box-container .box .content h3 {
  font-size: 1.7rem;
  padding-bottom: .5rem;
  color: #333;
}

.shopping-cart .box-container .box .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding: 1rem 0;
}

.shopping-cart .box-container .box .content form span {
  color: #666;
  font-size: 1.5rem;
}

.shopping-cart .box-container .box .content form input {
  width: 8rem;
  font-size: 1.5rem;
  color: #666;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background: #eee;
}

.shopping-cart .box-container .box .content .price {
  font-size: 2rem;
  color: #333;
}

.shopping-cart .box-container .box .content .price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.shopping-cart .cart-total {
  padding: 2rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
}

.shopping-cart .cart-total h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

.shopping-cart .cart-total h3 span {
  color: #e84393;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #333;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: #e84393;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  color: #e84393;
  padding-right: .5rem;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 1rem;
}

.footer .box-container .box form input[type="email"] {
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.6rem;
  text-transform: none;
  margin: .5rem 0;
}

.footer .credit {
  text-align: center;
  padding: 1rem;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  font-size: 2rem;
  color: #666;
  border-top: 0.2rem solid #333;
}

.footer .credit span {
  color: #e84393;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  .header .navbar ul li ul li a {
    padding-left: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }
  .shopping-cart .box-container .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
/*# sourceMappingURL=style.css.map */

body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  font-weight: bold;
  color: #29292a;
  font-size: 5.5rem;
}

.heading_container h2::first-letter {
  font-size: 2em;
}

.heading_container h2 span {
  color: #bcc4f2;
}

/*header section*/
.hero_area {
  height: 100vh;
}

.sub_page .hero_area {
  height: auto;
}

.header_section {
  background-color: #1d1d1d;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #7c7b7b;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #d7cff4;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #7c7b7b;
  text-transform: uppercase;
}

.quote_btn-container a img {
  width: 15px;
  margin: 0 35px;
}

.quote_btn-container a:hover {
  color: #ffffff;
}

/*end header section*/
/* slider section */
.slider_section {
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/slider-bg.jpg);
  background-size: 100% 100%;
}

.slider_section .glass {
  position: absolute;
  right: 25px;
  top: 75px;
}

.slider_section .glass h6 {
  -webkit-writing-mode: tb;
      -ms-writing-mode: tb;
          writing-mode: tb;
  text-orientation: upright;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: -5px;
}

.slider_section .detail-box h1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #0e020c;
}

.slider_section .detail-box h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}

.slider_section .detail-box .btn-box {
  margin-top: 35px;
}

.slider_section .detail-box .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #1d1d1d;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.slider_section .detail-box .btn-box a:hover {
  background-color: transparent;
  border-color: #1d1d1d;
  color: #1d1d1d;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  color: #ffffff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  bottom: 45px;
  right: 45px;
}

.slider_section .carousel-indicators span {
  margin: 0 2px;
}

.slider_section .carousel-indicators li {
  text-indent: unset;
  margin: 0;
  border: none;
  opacity: 1;
  background-color: transparent;
  width: auto;
  height: auto;
}

.slider_section .custom_carousel-control {
  position: absolute;
  top: 50%;
  left: 0;
  width: 105px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_section .custom_carousel-control .carousel-control-prev,
.slider_section .custom_carousel-control .carousel-control-next {
  margin: 10px 0;
  position: relative;
  width: 55px;
  height: 55px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: #e8e8e8;
}

.slider_section .custom_carousel-control .carousel-control-prev:hover,
.slider_section .custom_carousel-control .carousel-control-next:hover {
  background-color: #eb19b7;
}

.slider_section .custom_carousel-control .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.slider_section .custom_carousel-control .carousel-control-prev:hover {
  background-image: url(../images/prev-white.png);
}

.slider_section .custom_carousel-control .carousel-control-next {
  background-image: url(../images/next.png);
}

.slider_section .custom_carousel-control .carousel-control-next:hover {
  background-image: url(../images/next-white.png);
}

/* end slider section */
.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box .heading_container {
  margin-bottom: 25px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #eb19b7;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  margin-top: 35px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  border-color: #eb19b7;
  color: #eb19b7;
}

.about_section .img-box img {
  width: 100%;
}

.glass_section {
  background-color: #bcc4f2;
}

.glass_section .heading_container h2 {
  color: #6f6e6e;
  margin-bottom: 35px;
}

.glass_section .heading_container h2::first-letter {
  color: #000000;
}

.glass_section .heading_container h2 span {
  color: #2e303c;
}

.glass_section .glass_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glass_section .glass_container .box {
  width: 500px;
  margin: 10px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

.glass_section .glass_container .box .img-box {
  margin: 50px 0;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glass_section .glass_container .box .img-box img {
  max-width: 100%;
}

.glass_section .glass_container .box .price a {
  color: #bcc4f2;
  text-decoration: underline;
}

.glass_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glass_section .btn-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #eb19b7;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  margin-top: 35px;
}

.glass_section .btn-box a:hover {
  background-color: transparent;
  border-color: #eb19b7;
  color: #eb19b7;
}

.quality_section .nav-tabs {
  border: none;
}

.quality_section .detail-box a h6 {
  margin: 35px 0;
  color: #050606;
}

.quality_section .detail-box a h6 span {
  font-weight: bold;
  margin-right: 10px;
}

.quality_section .detail-box a.active h6 span {
  color: #42b8e4;
}

.quality_section .img-container {
  height: 100%;
}

.quality_section .img-container .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.quality_section .img-container .img-box img {
  width: 100%;
}

.offer_section {
  background-color: #bcc4f2;
}

.offer_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer_section .img-box {
  position: relative;
}

.offer_section .img-box img {
  width: 100%;
}

.offer_section .img-box .price {
  position: absolute;
  top: 58.5%;
  left: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #eb19b7;
  border-radius: 100%;
}

.offer_section .img-box .price h4 {
  margin: 0;
  font-weight: bold;
  color: #ffffff;
}

.offer_section .detail-box h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.offer_section .detail-box a {
  display: inline-block;
  padding: 7px 45px;
  background-color: #eb19b7;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  margin-top: 35px;
}

.offer_section .detail-box a:hover {
  background-color: transparent;
  border-color: #eb19b7;
  color: #eb19b7;
}

.buy_section {
  text-align: center;
}

.buy_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buy_section .heading_container h2 .s-2 {
  color: #6f6e6e;
}

.buy_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy_section .box .img-box {
  margin: 45px 0;
}

.buy_section .box .img-box img {
  max-width: 100%;
}

.buy_section .box .detail-box a {
  display: inline-block;
  padding: 8px 30px;
  background-color: #eb19b7;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  margin-top: 25px;
}

.buy_section .box .detail-box a:hover {
  background-color: transparent;
  border-color: #eb19b7;
  color: #eb19b7;
}

.client_section {
  text-align: center;
}

.client_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  width: 650px;
  margin: 45px auto 0 auto;
}

.client_section .box .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.client_section .box .client-id .img-box img {
  width: 100%;
}

.client_section .box .client-id h5 {
  margin-top: 15px;
}

/* contact section */
.contact_section {
  background-color: #141414;
  color: #ffffff;
}

.contact_section h2 {
  font-weight: bold;
  text-align: center;
}

.contact_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_section .heading_container h2 {
  color: #ffffff;
}

.contact_section .heading_container h2::before {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.contact_section .contact_form-container {
  margin-top: 45px;
}

.contact_section .contact_form-container input {
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  width: 100%;
  margin: 15px 0;
  background-color: transparent;
}

.contact_section .contact_form-container input::-webkit-input-placeholder {
  color: rgba(249, 252, 253, 0.5);
}

.contact_section .contact_form-container input:-ms-input-placeholder {
  color: rgba(249, 252, 253, 0.5);
}

.contact_section .contact_form-container input::-ms-input-placeholder {
  color: rgba(249, 252, 253, 0.5);
}

.contact_section .contact_form-container input::placeholder {
  color: rgba(249, 252, 253, 0.5);
}

.contact_section .contact_form-container button {
  border: 2px solid #ffffff;
  padding: 8px 45px;
  border-radius: 30px;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
}

.contact_section .contact_form-container button:hover {
  background-color: #ffffff;
  color: #000000;
}

/* end contact section */
/* info section */
.info_section {
  background-color: #141414;
}

.info_section .container {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.info_section .row > div {
  margin-top: 45px;
  margin-bottom: 45px;
}

.info_section h6 {
  margin-bottom: 12px;
  font-size: 18px;
  color: #ffffff;
}

.info_section p {
  color: #ffffff;
}

.info_section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section form input {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(240, 240, 240, 0.35);
  width: 100%;
  outline: none;
  color: #ffffff;
}

.info_section form input ::-webkit-input-placeholder {
  color: rgba(249, 252, 253, 0.5);
}

.info_section form input :-ms-input-placeholder {
  color: rgba(249, 252, 253, 0.5);
}

.info_section form input ::-ms-input-placeholder {
  color: rgba(249, 252, 253, 0.5);
}

.info_section form input ::placeholder {
  color: rgba(249, 252, 253, 0.5);
}

.info_section form button {
  border: 2px solid rgba(249, 252, 253, 0.5);
  padding: 3px 30px;
  border-radius: 30px;
  background-color: transparent;
  outline: none;
  color: rgba(249, 252, 253, 0.3);
  text-transform: uppercase;
  margin-left: -120px;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: rgba(249, 252, 253, 0.5);
}

.info_section ul li a:hover {
  color: #ffffff;
}

/* end info section */
/* footer section*/
.footer_section {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #bcc4f2;
  padding: 20px;
}

.footer_section p {
  color: #000000;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #000000;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */

